<div id="editbar">
	<div id="link_dialog">
		<input type="text" id="link_address" placeholder="Paste or type a link"><input type="button" id="link_add" value="Add">
	</div>
	<span class="fa fa-undo blklab-editbar-button" data-action="format" data-type="undo"></span>
	<span class="fa fa-repeat blklab-editbar-button" data-action="format" data-type="redo"></span>
	<span class="fa fa-link blklab-editbar-button" data-action="link_dialog" data-tag="a"></span>
	<span class="fa fa-bold blklab-editbar-button" data-action="format" data-type="bold" data-tag="b"></span>
	<span class="fa fa-italic blklab-editbar-button" data-action="format" data-type="italic" data-tag="i"></span>
	<span class="blklab-editbar-dropdown">Font Size<ul>
		<li class="blklab-editbar-button normal" data-action="format" data-type="p"  data-tag="p">Normal</li>
		<li class="blklab-editbar-button h1" data-action="format" data-type="h1" data-tag="h1">Heading 1</li>
		<li class="blklab-editbar-button h2" data-action="format" data-type="h2" data-tag="h2">Heading 2</li>
		<li class="blklab-editbar-button h3" data-action="format" data-type="h3" data-tag="h3">Heading 3</li>
		<li class="fa fa-quote-left blklab-editbar-button" data-action="format" data-type="blockquote" data-tag="blockquote"></li>
	</ul></span>
	<span class="fa fa-align-left blklab-editbar-button" data-action="format" data-type="justifyLeft"></span>
	<span class="fa fa-align-center blklab-editbar-button" data-action="format" data-type="justifyCenter"></span>
	<span class="fa fa-align-right blklab-editbar-button" data-action="format" data-type="justifyRight"></span>
	<span class="fa fa-list blklab-editbar-button" data-action="format" data-type="insertUnorderedList" data-tag="li"></span>
	<span class="fa fa-list-ol blklab-editbar-button" data-action="format" data-type="insertOrderedList" data-tag="li"></span>
</div>
