<div id="blklab-toolbar">
	<ul>
		<li class="toolbar" data-tooltip="Edit Page Meta"><span class="fa fa-info-circle metaBtn" data-type="meta"></span></li>
		<!--<li class="toolbar" data-tooltip="Sitemap"><span class="fa fa-sitemap stackBtn" data-type="stack"></span></li>-->
		<li class="toolbar" data-tooltip="Change Layout"><span class="fa fa-pencil editLayoutBtn"></span></li>
		<li class="toolbar" data-tooltip="Layout Blocks"><div class="fa fa-th-large layoutBtn"></div></li>
		<!--<li class="toolbar" data-tooltip="Trash"><div class="fa fa-trash"></div></li>-->
		<li class="toolbar" data-tooltip="Edit Page HTML"><div class="fa fa-code editCodeBtn"></div></li>		
		<!--<li class="toolbar" data-tooltip="Page Configuration"><span class="fa fa-cog configBtn"  data-type="config"></span></li>-->
		<li class="toolbar" data-tooltip="Save Page"><span class="fa  fa-cloud-upload saveBtn" data-type="save"></span></li>
	</ul>

	<div id="menu">
		<ul>
			<li class="toolbar block-btn" data-type="Image" data-tooltip="Image"><span class="fa fa-photo" data-type="Image"></span></li>
			<li class="toolbar block-btn" data-type="Text" data-tooltip="Text"><span class="blklab-text-icon" title="Text" data-type="Text">a</span></li>
			<li class="toolbar block-btn" data-type="Gallery" data-tooltip="Gallery"><span title="picture" class="entypo" data-type="Gallery">🌄</span></li>
			<li class="toolbar block-btn" data-type="Video" data-tooltip="Video"><span class="fa fa-film" data-type="Video"></span></li>
			<li class="toolbar block-btn" data-type="Map" data-tooltip="Map"><span title="map" class="entypo" data-type="Map"></span></li>
			<li class="toolbar block-btn" data-type="Code" data-tooltip="Code"><span title="code" class="entypo" data-type="code"></span></li>
			<li class="toolbar block-btn" data-type="Product" data-tooltip="Product"><span title="cart" class="entypo" data-type="product"></span></li>
			<li class="toolbar block-btn" data-type="Divider" data-tooltip="Divider"><span class="fa fa-minus" title="Divider" data-type="divider"></span></li>
			<li class="toolbar block-btn" data-type="Calendar" data-tooltip="Calendar"><span title="calendar" class="entypo" data-type="calendar">📅</span></li>
		</ul>
	</div>
</div>
