<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Fjord+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700|Montserrat:400,700|Josefin+Slab:300,400,700|Arvo:400,700|Droid+Sans:400,700|Oswald:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mq.css">
	{{#if logged_in}}
    	<link rel="stylesheet" href="/css/edit.css">
	{{/if}}

    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>

<body>
    <!--[if lt IE 8]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<nav></nav>
    <!-- Add your site or application content here -->
	<section id="wrapper">
		<header>
			<div class="inner">
				<a href="/"><img src="/assets/images/logo.png" id="logo" class="fade"></a>
				<ul>
					<li><img src="/assets/images/nav_btn.png" blklab-click="open_nav"></li>
				</ul>
			</div>
		</header>

        <section class="grid group {{identifier}}" id="content">
        </section>
    </section>

	<footer>
		<div class="inner">
			<div class="col span_3_of_3 center">
				<img data-src="/assets/images/footer_logo.png" class="lazy">
			</div>
		</div>
	</footer>

	{{#if logged_in}}
		{{> toolbars}}
		{{> editbar}}
	{{/if}}

    <div id="loader" class="quart"></div>

	<script src="/js/handlebars-v2.0.0.js"></script>
    <script src="/js/promise-1.0.0.min.js"></script>
    <script src="/js/templates/compiled_templates.js"></script>
    <script src="/js/blklab.js"></script>
	<script src="/js/blklab_utils.js"></script>
    <script src="/js/blklab_model.js"></script>
    <script src="/js/blklab_view.js"></script>
    <script src="/js/blklab_controller.js"></script>
    <script src="/js/blklab_router.js"></script>
    <script src="/js/blklab_app.js"></script>
	{{#if logged_in}}
		<script src="/js/lib.js"></script>
		<script src="/js/edit/block.js"></script>
		<script src="/js/edit/divider.js"></script>
		<script src="/js/edit/image.js"></script>
		<script src="/js/edit/gallery.js"></script>
		<script src="/js/edit/video.js"></script>
		<script src="/js/edit/text.js"></script>
		<script src="/js/edit.js"></script>
	{{/if}}
    <script src="/js/app.js"></script>

{{#if google_analytics}}
	<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','{{google_analytics}}');ga('send','pageview');
	</script>
{{/if}}
</body>

</html>
