<form method="put" action="/api/pages/:id">
	<h2><span class="fa fa-info-circle"></span> Edit Page Details <span id="close-meta" class="fa fa-times"></span></h2>
	<section class="left sixty">
		<div class="row">
			<label for="nav_title">Navigation Title:</label>
			<input type="text" name="nav_title" placeholder="" id="nav_title" />
		</div>

		<div class="row">
			<label for="title">Page Title:</label>
			<input type="text" name="title" placeholder="" id="title" />
		</div>

		<div class="row">
			<label for="identifier">Url:</label>
			<input type="text" name="identifier" placeholder="ex. test-page" id="identifier" />
			<span class="form_hint">The unique location slug for this page.</span>
		</div>

		<div class="row">
			<label for="identifier">Thumbnail:</label>
			<div class="thumb"></div>
		</div>

		<div class="row">
			<input type="submit" value="Save"> <input type="button" class="cancel" value="Cancel">
		</div>
	</section>

	<section class="right fourty help">
		<h3>Help</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet aliquet velit, at accumsan orci. Aenean tempor justo ac risus cursus, ac placerat nisl pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras commodo enim libero, non vulputate elit faucibus eget. Etiam a elementum mauris. Maecenas nec nisl nisi. Mauris sed aliquam purus. Phasellus id nisl at metus pellentesque pulvinar a vel eros. Praesent velit purus, convallis vel neque vulputate, facilisis pellentesque diam. Duis ut ligula sapien. Nulla tortor nibh, fermentum in blandit sit amet, porttitor vitae urna. Nunc in dapibus augue.</p>
	</section>

	<div class="clear"></div>
</form>
