/*Colors

#F46442
#1BBB9A
#353535
#53585B
#B6C4C8

*/

@font-face {
	font-family: 'entypo';
	src: url('fonts/entypo.eot');
	src: url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.ttf') format('truetype'),
		url('fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('fonts/proximanova-regular.eot');
    src: url('fonts/proximanova-regular.eot') format('embedded-opentype'),
         url('fonts/proximanova-regular.woff2') format('woff2'),
         url('fonts/proximanova-regular.woff') format('woff'),
         url('fonts/proximanova-regular.ttf') format('truetype'),
         url('fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}


@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/proximanova-bold.eot');
    src: url('fonts/proximanova-bold.eot') format('embedded-opentype'),
         url('fonts/proximanova-bold.woff2') format('woff2'),
         url('fonts/proximanova-bold.woff') format('woff'),
         url('fonts/proximanova-bold.ttf') format('truetype'),
         url('fonts/proximanova-bold.svg#ProximaNovaBold') format('svg');
}

html, body, #wrapper, #content {
	margin:0;
	padding:0;
    min-height: 100% !important;
    height: 100%;
}

body{
	background:#555555;
	color:#B6C4C8;
	line-height:1em;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
}

h1{
	color:#B6C4C8;
	font-size:48px;
	font-family: 'ProximaNovaBold';
	font-weight:normal;
	letter-spacing:0.1em;
	text-transform:uppercase;
}

label{
	color:#B6C4C8;
}

input[type="text"], textarea, select{
	background:#53585B;
	color:#B6C4C8;
	width:96%;
	padding:12px 2%;
	border-radius:2px;
}

input[type="text"]:focus, textarea:focus, select:focus{
	border:solid 1px #1BBB9A;
	color:#B6C4C8;
}

input:invalid, textarea:invalid, select:invalid{
	border:solid 1px #F46442;
}

header{
	top:0;
	margin:0;
	padding:0;
}

header.group{
	position:fixed;
	top:0;
	right:0;
	height:100%;
	background:#353535;
	z-index:2;
	display:block;
}

header nav{
	display:block;
	position:relative;
	top:0px;
}

header nav ul{
	margin:0;
	padding:0px 0;
	position:relative;
	width:100%;
	top:0;
	transform:none;
	-webkit-transform:none;
	-moz-transform:none;
}

header nav ul li{
	font-size:28px;
	height:28px;
	margin:0;
	padding:19px 30px;
	display:block;
	position:relative;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

header nav a{
	color:#B6C4C8;
}

header nav a:hover{
	color:#1BBB9A;
}

header nav ul li:hover, header nav ul li.selected{
	background:#252525;
	cursor:pointer;
	color:#1BBB9A;
}

#toolbar{
	position:absolute;
	top:0;
	left:0;
	height:66px;
	width:100%;
	background:#767676;
	z-index:1;
}

#toolbar ul{
	position:absolute;
	left:0px;
	top:20px;
	margin:0;
	padding:0;
}

#toolbar ul li{
	display: inline-block;
	font-size:24px;
	margin-left:20px;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

#toolbar ul li:hover, #toolbar ul li.selected{
	cursor:pointer;
	color:#1BBB9A;
}

ul li .entypo {
	font-size: 60px;
	display: block;
	font-family: "entypo";
}

#view{
    min-height:100% !important;
    height:100%;
	position:relative;
	top:0;
	overflow:auto;
}

#inner{
	padding:65px 115px 0 10px;
}

#inner .col{
	background:rgba(255,255,255,0.2);
}

#inner .col ul{
	padding:0;
	margin:0;
	list-style:none;
}

#inner .col ul li{
	margin:0;
	padding:15px 10px;
	border-bottom:solid 1px rgba(0,0,0,0.1);
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

#inner .col ul li a{
	color:rgb(250,250,250);	
}

#inner .col ul li:first-child{
	border-top:solid 1px rgba(0,0,0,0.1);
}

#inner .col ul li:hover, #inner .col ul li.selected{
	/*background:rgba(0,0,0,0.1);*/
	background:rgba(27,187,154,0.2);
}

#inner .col ul li.inactive:hover, #inner .col ul li.tools:hover{
	background:none;
}

[blklab-click], .click{
	cursor:pointer;
}

[draggable="true"]{
	cursor:move;
}

#inner .col ul li input{
	margin-top:0;
	width:80%;
	display:inline-block;
	vertical-align:middle;
	background:#555555;
	margin-right:1%;
}

#inner .col ul li input.fifty{
	width:24%;
}

#inner .col ul li{
	white-space:nowrap;
	position:relative;
}

#inner .col ul li .tools{
	position:absolute;
	right:1%;
	top:15px;
	opacity:0;
	width:25%;
	text-align:right;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	white-space:nowrap;
}

#inner .col ul li:hover .tools{
	opacity:1;
}

#inner .col ul li .fa{
	font-size:1em;
	display:inline-block;
	vertical-align:middle;
	margin-left:2%;
	width:5%;
}

#inner .col ul li .tools .fa{
	width:auto;
	margin-left:10%;
}

.good{
	color:#1BBB9A;
}

.bad, .hover_bad:hover{
	color:#F46442;
}

#inner .col ul li .search, #inner .toolbar .search{
	width:auto;
	position:absolute;
	right:10px;
	top:6px;
}

#inner .col ul li .search input, #inner .col .toolbar .search input{
	padding:8px 25px 8px 8px;
}

#inner .col ul li .search .fa-search, #inner .col .toolbar .search .fa-search{
	position:absolute;
	margin-left:-25px;
	top:10px;
}

.toolbar{
	position:relative;
	background:#555555;
	color:#1BBB9A;
	padding:15px;
}

.toolbar .right{
	position:relative;
	right:200px;
}

.toolbar .right .fa{
	padding:0 10px;
	cursor:pointer;
}

#inner .col .toolbar .search input{
	width:80%;	
}

.new_file{
	position:relative;
	display:inline-block;
}

.new_file input[type="file"]{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
}

.header{
	/*background:rgba(0,0,0,0.1);*/
	background:#555555;
	color:#1BBB9A;
}

#inner .col ul li.header:hover{
	background:#555555;
}

#inner #main_nav{
	display:table;
	width:100%;
}

#inner #main_nav li{
	display:table-cell;
	padding:15px 2%;
	border-left: solid 1px rgba(255,255,255,.2);
}

#inner #main_nav li:first-child{
	border:none;
}

#inner #main_nav li.inactive{
	width:10%;
	text-align:center;
}

#inner #main_nav li.inactive:hover{
	background:none
}

#inner #main_nav li.moving{
	display:none;
}

.fa{
	opacity:1;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}

.fa:hover{
	opacity:0.8;
}

.inner{
	padding:1em;
}

.login_form{}

.error{
	line-height:1.6em;
	width:96%;
	background:#F46442;
	color:#B6C4C8;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	font-size:16px;
	opacity:0;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	margin:10px 0;
	border-radius:2px;
	padding:0 2%;
}

.error.on{
	opacity:1;
	padding:12px 2%;
}

#pages{
	min-height:600px;	
}

#stack{
	min-height:600px;		
}

#sub_nav{
	min-height:400px;	
}

#sub_nav.entered{
	background:rgba(0,0,0,0.1);	
}

#path{
	padding:15px;
	height:16px;
	background:rgba(255,255,255,.1);	
}

#files{
	position:relative;
	min-height:600px;	
	color:#1BBB9A;	
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;	
}

#files.entered{
	background:rgba(255,255,255,.1);	
}

#files .row{
	background:rgba(0,0,0,.1);		
	color:#B6C4C8;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	font-size:16px;
	padding:20px;
	text-align:center;
	height:20px;	
	-webkit-transition:all 2s ease-in-out;
	-moz-transition:all 2s ease-in-out;
	transition:all 2s ease-in-out;	
}

#files ul li{
	display:inline-block;
	width:10%;
	margin:0;
}	

#files ul li img{
	max-width:100%;	
}

#files.list ul li{
	height:20px;
	opacity:1;
	-webkit-transition:all 2s ease-in-out;
	-moz-transition:all 2s ease-in-out;
	transition:all 2s ease-in-out;		
}

#files.list ul li.disappear{
	height:0;
	padding-top:0;
	padding-bottom:0;	
	border:none;
	overflow:hidden;
	opacity:0;	
}

.blklab-activity{
	position:fixed;
	color:#ffffff;
	font-size:12px;
	z-index:99999999;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	letter-spacing:0.05em;
	background:#353535;	
	border:solid 4px #353535;		
	padding:0;
	overflow:auto;
	top:30%;	
	width:1px;
	left:40%;	
	height:1px;
	opacity:0;
	-webkit-transition:all 2s ease-in-out;
	-moz-transition:all 2s ease-in-out;
	transition:all 2s ease-in-out;		
}

.blklab-activity.open{
	width:515px;	
	height:540px;
	opacity:1;	
}

.blklab-activity #close{
	position:absolute;
	top: 10px;
	right:10px;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	letter-spacing:0.05em;		
	color:#ffffff;
	cursor:pointer;
	z-index:20;
}

.blklab-activity h2{
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	letter-spacing:0.05em;		
	color:#ffffff;
	margin:0;
	padding:10px;
	font-size:14px;
	text-transform:uppercase;
}

.blklab-activity .table{
	width:100%;
}

.blklab-activity .table .row{
	color:#ffffff;
	font-size:14px;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	letter-spacing:0.05em;	
	text-align:right;
	padding:10px;
	margin:0;
	position:relative;
	border-bottom:solid 1px rgba(0,0,0,0.2);
}

.blklab-activity .table .row .text{
	position:relative;
	z-index:10;
}

.blklab-activity .table .row.fail{
	background:rgba(255,0,0,0.4);	
}

.progress_bar{
	width:0;
	height:100%;
	position:absolute;
	z-index:9;
	background:rgba(27,187,154,.65);	
	top:0;
	left:0;
}

#file-list{
	color:#ffffff;
}

#file-list .tools{
	padding-bottom:10px;	
}

#file-list .tools .button{
	background:rgba(27,187,154, 1);
	border:none;
	border-radius:0;
	color:#ffffff;
	text-shadow:none;
	box-shadow:none;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;	
	width:auto;
	position:relative;
	top:-10px;
}