/*Colors

#F46442
#1BBB9A
#353535
#53585B
#B6C4C8

*/

@font-face {
	font-family: 'entypo';
	src: url('fonts/entypo.eot');
	src: url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.ttf') format('truetype'),
		url('fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;

}


#blklab-toolbar{
	width:400px;
	position:fixed;
	bottom:25px;
	text-align:center;
	left:50%;
	margin-left:-225px;
	background-color: #231f20;
	opacity:0.2;
	border-radius:10px;
	padding:25px;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	white-space:nowrap;
	z-index:999999999;
}

#blklab-toolbar:hover, #blklab-toolbar.on{
	opacity:1;
}

#blklab-toolbar #menu{
	width:400px;
	left:0px;
	top:0;
	margin-top:-25px;
	padding:30px;
	position:absolute;
	background-color: #231f20;
	border-radius:5px;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translateY(-100%);
	-moz-transform:    translateY(-100%);
	transform:         translateY(-100%);
	pointer-events: none;
	white-space:normal;
}

#blklab-toolbar #menu.show{
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	pointer-events:auto;
}

#blklab-toolbar #menu:after {
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -15px;
	width: 0;
	height: 0;
	border-top: solid 15px #231f20;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
}

#blklab-toolbar ul{
	list-style:none;
	margin:0px;
	padding:0px;
	width:100%;
}

#blklab-toolbar ul li{
	display:inline-block;
	vertical-align:top;
}

#blklab-toolbar #menu ul{
	color:#ffffff;
}

#blklab-toolbar #menu ul li{
	display:inline-block;
	padding:20px 10px;
	margin:0px;
	font-size:12px;
	vertical-align:middle;
}

#blklab-toolbar #menu ul li .fa{
	font-size:40px;
	color:#ffffff;
	display:block;
}

#blklab-toolbar #menu ul li .entypo{
	font-size:80px;
	color:#ffffff;
	display:block;
	font-family: "entypo";
}

#blklab-toolbar #menu ul li:hover .fa, #blklab-toolbar #menu ul li:hover .entypo{
	color:rgba(27,187,154,.95);
}

.blklab-button{
	display:inline-block;
	background:#231f20;
	color:#c7c7c7;
	padding:10px 10px;
	text-align:center;
	border-radius:5px;
	border:solid 1px #9c9a97;
}

.blklab-button:hover{
	background:#5c5a57;
	cursor:pointer;
}


#blklab-toolbar .fa{
	font-size:25px;
	margin:0px 10px;
	color:#ffffff;
	vertical-align:middle;
	cursor:pointer;
}

.blklab-text-icon{
	font-size:44px;
	font-family: 'Montserrat', sans-serif;
}

.blklab-icon.en{
	font-family: "entypo";
}

#blklab-toolbar .fa:hover, #blklab-toolbar .fa.on, .blklab-text-icon:hover{
	color:rgba(27,187,154,.95);
	cursor:pointer;
}

#close-meta{
	position:absolute;
	right:20px;
	top:20px;
	color:#ffffff;
	font-size:24px;
	z-index:10;
	cursor:pointer;
}

.thumb, .blklab-gallery-preview{
	width:400px;
	height:400px;
	border:solid 1px #231f20;
	border-radius:5px;
	overflow:hidden;
}

.blklab-gallery-preview{
	overflow:auto;
}

.blklab-gallery-preview img{
	width:100px;
	height:100px;
	margin-right:-4px;
}

.modal-open .help{
	font-family: 'Droid Sans', sans-serif;
	font-size:11px;
	letter-spacing:0.05em;
	line-height:1.6em;
	color:#231f20;
	margin:0;
}

.modal-open .right h3{
	color:#231f20;
	margin:25px 0 5px;
	font-family: 'Droid Sans', sans-serif;
	letter-spacing:0.05em;
	text-transform:uppercase;
}

.blklab-block{
	position:relative;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	overflow:hidden;
}

.blklab-block.entered{
	background:rgba(0,0,0,0.1);
}

.blklab-block .edit-btn{
	position:absolute;
	right:5px;
	bottom:5px;
	color:rgba(180,180,180,0.1);
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;	
	cursor:pointer;
}

.blklab-block .edit-btn:hover{
	color:rgba(108, 190, 178, 0.46);;	
}

.blklab-image .blklab-new-image, .blklab-gallery .blklab-new-gallery, .blklab-video .blklab-new-video{
	width:100px;
	height:100px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-50px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size:100px;
	color:#cccccc;
	cursor:pointer;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	text-align:center;
}

.blklab-new-image input[type="file"], .blklab-new-gallery input[type="file"], .blklab-new-video input[type="file"]{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.blklab-text{
	min-height:48px;
}

.blklab-text.placeheld{
	color:#cccccc;
}

.blklab-text.placeheld span{
	pointer-events:none;
}

.blklab-map{
	height:450px;
	padding:20px;
}

.blklab-gallery .blklab-new-gallery{
	font-size:200px;
}

.blklab-image .blklab-new-image:hover, .blklab-gallery .blklab-new-gallery:hover, .blklab-image .blklab-new-image.entered{
	color:#1BBB9A;
}

.blklab-image, .blklab-gallery, .blklab-video{
	min-height:450px;
}

.blklab-gallery .blklab-new-gallery{
	width:200px;
	height:200px;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
	margin-left:-100px;
}

.blklab-image [class*='span_*_of_*']{
	height:auto;
}

[data-uuid]{
	height:auto;
	min-height:inherit;
	display:inline-flex;
	flex:1;
	align-content:center;
	justify-content:flex-end;
	margin:auto;
}

[data-uuid] img{
	width:100%;
	height:100%;
}

[data-uuid].span_1_of_2{
	width:50%;
}

[data-uuid].span_1_of_2.entered{
	width:49.5%;	
}

[data-uuid].span_1_of_3{
	width:33.333%;	
}

[data-uuid].span_1_of_3.entered{
	width:33%;		
}

[data-uuid].span_1_of_4{
	width:25%;	
}

[data-uuid].span_1_of_4.entered{
	width:24.7%;		
}

.blklab-image img{
	width:100%;
	pointer-events:none;
}

[class*=col-]{
	overflow:hidden;
}

.blklab-image .wide-img{
	position:relative;
	/*top:50%;
	left:50%;
	-webkit-transform:translateY(-50%)  translateX(-50%);
	-moz-transform:translateY(-50%)  translateX(-50%);
	transform:translateY(-50%)  translateX(-50%);
	height:100%;*/
}

.blklab-image .tall-img{
	position:relative;
	/*width:100%;
	min-width:100%;
	top:50%;
	left:50%;
	-webkit-transform:translateY(-50%)  translateX(-50%);
	-moz-transform:translateY(-50%)  translateX(-50%);
	transform:translateY(-50%)  translateX(-50%);*/
}

[class*=col-] img.tall-img{
	max-width:inherit;
	min-width:inherit;
	/*object-fit:cover;
	-moz-object-fit:cover;
	-ms-object-fit:cover;
	-o-object-fit:cover;
	-webkit-object-fit:cover;*/
}

[class*=col-] img.wide-img{
	max-width:inherit;
	min-width:inherit;
	/*object-fit:cover;
	-moz-object-fit:cover;
	-ms-object-fit:cover;
	-o-object-fit:cover;
	-webkit-object-fit:cover;*/
}

.entypo{
	font-family: "entypo";
}

#editbar{
	position:absolute;
	z-index:999999999999999;
	background-color:#121314;
	border-radius:5px;
	padding:10px;
	opacity:0;
	pointer-events:none;
	-webkit-transition:opacity 0.2s ease-in-out;
	-moz-transition:opacity 0.2s ease-in-out;
	transition:opacity 0.2s ease-in-out;
	text-align:center;
}

#editbar.show{
	pointer-events:auto;
	opacity:1;
}

#editbar:after{
	content:"";
	display:block;
	position:absolute;
	left:50%;
	margin-left:-8px;
	width:0;
	height:0;
	border-style:solid;
	top:35px;
	border-width:8px 8px 0 8px;
	border-color:#121314 transparent transparent transparent;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	opacity:1;
}

#editbar.expanded:after{
	opacity:0;
	top:80px;
}

#editbar .blklab-editbar-button, #editbar .blklab-editbar-dropdown{
	position:relative;
	display:inline-block;
	font-size:14px;
	color:#6f6e6f;
	padding:0px 10px 0px;
	cursor:pointer;
}

#editbar .blklab-editbar-button:hover, #editbar .blklab-editbar-dropdown:hover, #editbar .blklab-editbar-dropdown.on, #editbar .blklab-editbar-button.on{
	color:#1BBB9A;
}

#editbar .blklab-editbar-dropdown ul{
	display:block;
	margin:0px;
	padding:10px 20px;
	pointer-events:none;
	opacity:0;
	-webkit-transition:opacity 0.2s ease-in-out;
	-moz-transition:opacity 0.2s ease-in-out;
	transition:opacity 0.2s ease-in-out;
	position:absolute;
	width:auto;
	top:15px;
	left:0px;
	background-color:#121314;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#editbar .blklab-editbar-dropdown:hover ul{
	opacity:1;
	pointer-events:auto;
	z-index:9999999999999999;
}

#editbar .blklab-editbar-dropdown ul li{
	display:block;
	margin:0 0 5px;
	padding:0;
	color:#6f6e6f;
	white-space:nowrap;
	text-align:left;
}

#editbar .blklab-editbar-button.h1{
	font-size:24px;
	line-height:1.5em;
}

#editbar .blklab-editbar-button.h2{
	font-size:20px;
	line-height:1.5em;
}

#editbar .blklab-editbar-button.h3{
	font-size:16px;
	line-height:1.5em;
}

#editbar .blklab-editbar-button.normal{
	font-size:12px;
	line-height:1.5em;
}

#link_dialog{
	width:100%;
	position:relative;
	top:0px;
	left:0px;
	background-color:#121314;
	border-radius:5px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	height:0px;
	opacity:0;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	overflow:hidden;
}

#link_dialog.on{
	height:50px;
	opacity:1;
}

#link_dialog input[type="text"]{
	background:#313234;
	border:solid 1px #414244;
	color:#fefefe;
	width:70%;
}

#link_dialog input[type="text"]:hover{
	outline:0 none;
	border:solid 1px #414244;
	color:#fefefe;
	box-shadow:none;
}

#link_dialog input[type="button"]{
	background:none;
	border:none;
	text-shadow: 0 0 0 transparent;
	width:25%;
}

[draggable="true"], [draggable="true"] p{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;
	cursor:move;
}

b,strong{
	font-weight:bold;
}

i{
	font-style:italic;
}

.justifyLeft{
	text-align:left;
}

.justifyRight{
	text-align:right;
}

.justifyCenter{
	text-align:center;
}

.blklab-insertion-point{
	height:0;
	opacity:0;
	font-size:20px;
	font-family: 'Droid Sans', sans-serif;
	letter-spacing:0.05em;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	background:#cccccc;
	color:#333333;
	position:relative;
	z-index:9999999;
}

.blklab-insertion-point.on{
	height:auto;
	opacity:1;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	padding:10px;
	cursor:pointer;
}

.blklab-insertion-point.on:hover, .blklab-insertion-point.on.active{
	opacity:1;
}

.blklab-drop{
	height:150px;
	position:relative;
}

.drop_msg{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translateY(-50%)  translateX(-50%);
	-moz-transform:translateY(-50%)  translateX(-50%);
	transform:translateY(-50%)  translateX(-50%);
	font-size:48px;
	color:#eeeeee;
}

.drop_msg.entered{
	box-shadow: inset 0 0 5px 0px rgba(0,0,0,0.1), 0 0 6px 2px rgba(41,170,227,0.5);
}

.blklab-modal{
	width:350px;
	top:50%;
	left:50%;
	-webkit-transform:translateY(-50%)  translateX(-50%);
	-moz-transform:translateY(-50%)  translateX(-50%);
	transform:translateY(-50%)  translateX(-50%);
	padding:30px;
	position:absolute;
	background-color: #231f20;
	border-radius:5px;
	opacity:0;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

.blklab-modal.open{
	opacity:1;
}

.tooltip{
	padding:30px;
	position:absolute;
	background-color: #231f20;
	border-radius:5px;
}

.blklab-modal #link_dialog{
	opacity:1;
	height:auto;
	background:none;
	white-space:nowrap;
}

.blklab-modal #link_dialog input[type="text"]{
	display:inline-block;
	width:80%;
}

.blklab-modal #link_dialog input[type="button"]{
	display:inline-block;
	background:none;
	color:#ffffff;
	width:auto;
	text-align:left;
	padding:10px 10px 0 0;
}

.blklab-modal h2{
	font-family: 'Droid Sans', sans-serif;
	font-size:20px;
	width:100%;
	padding:0;
	margin:0 0 5px;
	letter-spacing:0.05em;
	text-transform:uppercase;
	margin:0 0 20px;
	color:#c7c7c7;
}

.blklab-modal h2 .fa{
	color:rgba(41,170,227,.8);
}

.blklab-modal .clear{
	margin:10px 0;
}


.blklab-left{
	border:0;
	border-left:inset 2px #1BBB9A;
}

.blklab-above{
	border:0;
	border-top:inset 2px #1BBB9A;
}

.blklab-below{
	border:0;
	border-bottom:inset 2px #1BBB9A;
}

.blklab-right{
	border:0;
	border-right:inset 2px #1BBB9A;
}

.blklab-image.gallery, .blklab-gallery.gallery{
	position:relative;
	overflow:hidden;
}

.blklab-image.gallery .slider, .blklab-gallery.gallery .slider{
	position:relative;
	width:1000000px;
	white-space:nowrap;
}

.blklab-image.gallery .cell, .blklab-gallery.gallery .cell{
	display:inline-block;
	vertical-align:top;
}

.blklab-image.gallery .cell img, .blklab-gallery.gallery .cell img{
	width:100%;
}

.blklab-image.gallery blklab-new-image, .blklab-gallery.gallery blklab-new-gallery{
	opacity:0.4;
	position:absolute;
	bottom:10px;
	left:10px;
	font-size:24px;
}

.img_placeholder{
	position:relative;
	display:inline-block;
	width:15%;
	background:rgba(0,0,0,.2);
	min-height:150px;
	padding:50px 5%;
	height:100%;
}

.blklab-msg{
	position:fixed;
	top:25px;
	right:25px;
	background:rgba(27,187,154,.95);
	padding:25px;
	color:#ffffff;
	font-size:18px;
	z-index:99999999;
	font-family: 'Droid Sans', sans-serif;
	letter-spacing:0.05em;
}

.progress_bar{
	width:0;
	height:15px;
	background:#ff0000;
	position:absolute;
	left:10px;
	top:10px;
}

.blklab-editor{
	position:fixed;
	color:#ffffff;
	font-size:12px;
	z-index:9999999999999999;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	letter-spacing:0.05em;
	background:#353535;	
	border:solid 4px #353535;		
	padding:0;
	overflow:auto;
	top:50%;	
	height:600px;
	left:50%;
	width:900px;
	margin:-300px 0 0 -450px;
	opacity:0;	
	-webkit-transition:opacity 0.5s ease-in-out;
	-moz-transition:opacity 0.5s ease-in-out;
	transition:opacity 0.5s ease-in-out;		
}

.blklab-editor.tall{
	height:80%;
	top:10%;
	margin-top:0;
}

.blklab-editor.open{
	opacity:1;	
}

.blklab-editor .inner{
	padding:25px 15px;
	width:auto;
}

.blklab-editor .inner.meta{
	height:425px;
	overflow:auto;
}

.blklab-editor #close{
	position:absolute;
	top: 10px;
	right:10px;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	letter-spacing:0.05em;		
	color:#ffffff;
	cursor:pointer;
	z-index:20;
}

.blklab-editor .table{
	width:100%;
}

.blklab-editor .table .row{
	color:#ffffff;
	font-size:14px;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	letter-spacing:0.05em;	
	text-align:right;
	padding:10px;
	margin:0;
	position:relative;
	border-bottom:solid 1px rgba(0,0,0,0.2);
}

.blklab-editor .table .row .text{
	position:relative;
	z-index:10;
}

.blklab-editor .table .row.fail{
	background:rgba(255,0,0,0.4);	
}

.blklab-editor h2, .blklab-editor .tools{
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	letter-spacing:0.05em;		
	color:#ffffff;
	margin:0;
	font-size:24px;
	padding:15px;
	background:rgba(0,0,0,0.1);
	text-transform:uppercase;	
}

.blklab-editor .tools{
	position:absolute;
	bottom:0px;
	width:870px;
}

.blklab-editor h2 .fa{
	color: rgba(27,187,154,.95);	
}

.blklab-editor label{
	color:#ffffff;	
}

.blklab-editor input[type="button"]{
	background:rgba(27,187,154, 1);
	border:none;
	border-radius:0;
	color:#ffffff;
	text-shadow:none;
	box-shadow:none;
	display:inline-block;
	margin-right:10px;	
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;	
}

.blklab-editor input[type="button"]:hover{
	background:rgba(27,187,154,0.8);	
}

.blklab-editor .fifty{
	display:inline-block;
	width:49%;
	margin-left:1%;
}

.blklab-editor .fifty:first-child{
	margin:0;	
}

.blklab-editor textarea{
	width:858px;
	height:450px;
}

.blklab-editor #html_content{
	display:block;
	height:450px;
	padding:15px;
	overflow:auto;
	white-space:nowrap;
	color:rgba(27,187,154, 1);
}

.blklab-editor #html_content mark.blklab-attrs{
	color:#ff0000;	
	background:none;
	display:inline-block;
}

.blklab-editor #html_content pre{
	display:inline-block;
}

#file_library{
	display:block;
	height:375px;
	margin:0;
	padding:0;
	overflow:auto;
	background:rgba(0,0,0,0.1);
}

#file_library.tiled img{
	position:relative;
	padding:0;
	margin:0 1px 4px 0;
	display:inline-block;
	width:24%;
	vertical-align:middle;
	border:none;
}

#file_library .placeholder{
	width:102px;
	height:102px;
	display:inline-block;
	position:relative;
	vertical-align:top;
}

#file_library .placeholder .loader{
	top:50%;
	width:24px;
	height:24px;
	margin:-12px 0 0 -12px;
}

#file_library.tiled img{
	max-width:100%;	
}

#file_library ul{
	list-style:none;
	margin:0;
	padding:0;	
}

#file_library ul li{
	list-style:none;
	margin:0;
	padding:5px;
	background:rgba(0,0,0,0.2);	
	cursor:pointer;
	border-bottom:solid 1px rgba(0,0,0,0.1);	
}

#file_library ul li:hover{
	background:rgba(255,255,255,0.1);		
}

.blklab-editor .tags{
	margin-top:15px;	
}

.blklab-editor .library_tools{
	color:rgba(27,187,154, 1);		
	font-size:14px;	
	height:15px;
	text-align:right;
	padding:5px;
	cursor:pointer;
	background:rgba(0,0,0,0.1);	
}

.blklab-editor .library_tools .right{
	color:rgba(255,255,255,0.9);		
}

.blklab-editor .library_tools .fa:hover, .blklab-editor .library_tools .fa.selected{
	color:rgba(27,187,154, 1);	
}

#wrapper{
	opacity:1;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;		
}

#wrapper.disabled{
	opacity:0.7;
}

.noscroll{
	overflow:hidden;
}

.new_file{
	position:relative;
	display:inline-block;
}

.new_file input[type="file"]{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
}

.moving{
	opacity:0.4;	
}

.blklab-block.entered *{
	pointer-events:none;
}