@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('fonts/proximanova-regular.eot');
    src: url('fonts/proximanova-regular.eot') format('embedded-opentype'),
         url('fonts/proximanova-regular.woff2') format('woff2'),
         url('fonts/proximanova-regular.woff') format('woff'),
         url('fonts/proximanova-regular.ttf') format('truetype'),
         url('fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}

@font-face {
    font-family: 'FuturaBook';
    src: url('fonts/futura-book.eot');
    src: url('fonts/futura-book.eot') format('embedded-opentype'),
         url('fonts/futura-book.woff2') format('woff2'),
         url('fonts/futura-book.woff') format('woff'),
         url('fonts/futura-book.ttf') format('truetype'),
         url('fonts/futura-book.svg#FuturaBook') format('svg');
}


@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/proximanova-bold.eot');
    src: url('fonts/proximanova-bold.eot') format('embedded-opentype'),
         url('fonts/proximanova-bold.woff2') format('woff2'),
         url('fonts/proximanova-bold.woff') format('woff'),
         url('fonts/proximanova-bold.ttf') format('truetype'),
         url('fonts/proximanova-bold.svg#ProximaNovaBold') format('svg');
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

img{
	max-width:100%;
	height:auto;
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
	user-select:none;
}

.fade{
	opacity:0;
	-webkit-animation:fadeIn ease-in 1s;
	-moz-animation:fadeIn ease-in 1s;
	animation:fadeIn ease-in 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.out{
	opacity:0;
	-webkit-animation:fadeOut ease-in 1s;
	-moz-animation:fadeOut ease-in 1s;
	animation:fadeOut ease-in 1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

body{
	background:#ffffff;
	color:#121314;
	line-height:1em;
	font-family:'ProximaNovaRegular', Helvetica,Arial,sans-serif;
	margin:92px 0 -193px;
	font-size:1em;
}

a{
	text-decoration:none;
	color:#7a7a7a;
}

a:hover{
	color:#494949;
}

p{
	line-height:1.6em;
	max-width:100%;
	margin:0 0 1em;
}

.inner{
	width:970px;
	margin:0px auto;
	position:relative;
}

nav{
	background:#000000;
	position:fixed;
	top:0;
	height:0;
	left:0;
	width:100%;
	z-index:10000;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

nav.open{
	height:400px;
}

header{
	top:0;
	left:0;
	height:93px;
	position:fixed;
	width:100%;
	background:rgba(255,255,255,0.95);
	z-index:10000;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
	user-select:none;
}

header.open{
	top:400px;
}

header #logo{
	margin:0;
	padding:0;
	position:absolute;
	top:30px;
	left:0;
}

header h1 .bold{
	font-weight:700;
}

header h1 .lowercase{
	font-weight:300;
	text-transform:lowercase;
	font-size:24px;
}

header ul{
	position:absolute;
	right:0;
	top:40px;
	margin:0;
	padding:0;
	list-style:none;
}

header ul li{
	margin:0;
	padding:0;
	font-size:18px;
	font-weight:200;
}

header ul:after{
	clear:both;
}

#wrapper{}

h1, h2, h3, p{
    font-family: 'FuturaBook';
	letter-spacing:0.1em;
	font-weight:normal;
}

h1{
	font-size:1.4em;	
	text-transform:uppercase;	
	margin-bottom:25px;
}

p{
	font-size:0.8em;	
}

#content{
	width:970px;
	margin:182px auto 92px;
    font-family: 'ProximaNovaRegular';	
}

#content.home{
	width:100%;
	margin:0 auto;
}

#content.home .blklab-block{
	background:#ffffff;
	z-index:3;
}

#content.home .blklab-block.transparent{
	background:transparent;
	text-align:center;
	position:relative;
	z-index:9;
}

#content.home .blklab-block.transparent img{
	max-width:970px;
}

#content.home .blklab-video{
	position:fixed;
	top:0;
	width:100%;
	z-index:1;
	height:90%;
}

#content.home .blklab-video video{
	height:100% !important;
	width:auto;
	object-fit:cover;
}

#content.active{
	padding-bottom:50px;
}

#content .divider{
	border-top:solid 1px #cdcdcd;
}

footer{
	padding:50px 0;
	text-align:left;
	color:#ffffff;
	background:#000000;
	margin-bottom:-200px;
	position:relative;
	z-index:4;
}

footer a, footer a:visited{
	color:#121314;
}

#content .blklab-text [class="col-"]{
	height:auto;
}

.blklab-block{
	margin:0;
	position:relative;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	overflow:hidden;
}

#content.home .background{
	background:#ffffff;
	position:relative;
	z-index:999;
}

#content.home .blklab-text .inner{
	width:970px;
	margin:90px auto;
	display:block;
}


#content.home .blklab-text.tan{
	background:#b6b8b1;
	color:#ffffff;
	font-family:"Georgia";
}

#content.home .span_1_of_2{
	display:inline-flex;	
	height:750px;
	overflow:hidden;
	width:49.8%;
	margin:auto;
}

#content.home .blklab-text.span_1_of_2 .inner{
	display:inline-flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;		
	width:90%;
	position:relative;
}

#content.home .span_1_of_2 img{
	height:100%;	
	width:100%;
	object-fit:cover;
}

.blklab-image img{
	width:100%;
}

[blklab-click]{
	cursor:pointer;
}

p img {
     width: 30em;
     max-width: 500px;
     min-width: 100px;
}

@media only screen and (max-width : 1200px) {
	#content .blklab-text{
		width:95%;
		margin:10px auto;
	}
}

@media only screen and (max-width : 900px) {
	#content{
		width:100%;
	}

	#wrapper{
		width:98%;
		margin:0px auto;
	}
}
