@media only screen and (max-width : 1024px) {
	html{
		margin:0;
	}

	nav{
		position: fixed;
		top: 0;
		left:auto;
		width: 50%;
		height: 100%;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		right:-50%;
		transition: right .3s ease;
		background:#000000;
	}

	nav ul{
		padding-top:15px;
		display:block;
		list-style:none;
		position:relative;
		-webkit-transform:none;
		-ms-transform:none;
		transform:none;
		top:0;
	}

	nav ul li{
		display:block;
		margin:0 10px 10px;
	}

	nav.open{
		right:0;
	}

	#wrapper{
		right:0;
		transition: right .3s ease
	}

	#wrapper.open{
		right:50%;
	}

	#toggle.open{
		right:50%;
	}

	nav .content {
		position: relative
	}
}


@media only screen and (max-width : 1200px) {
	#content.home .span_1_of_2{
		width:100%;
	}
	
	#content.home .blklab-image{
		height:auto;
	}
	
	#content.home .blklab-text{
		width:100%;	
		height:auto;		
	}
}