@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('fonts/proximanova-regular.eot');
    src: url('fonts/proximanova-regular.eot') format('embedded-opentype'), url('fonts/proximanova-regular.woff2') format('woff2'), url('fonts/proximanova-regular.woff') format('woff'), url('fonts/proximanova-regular.ttf') format('truetype'), url('fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/proximanova-bold.eot');
    src: url('fonts/proximanova-bold.eot') format('embedded-opentype'), url('fonts/proximanova-bold.woff2') format('woff2'), url('fonts/proximanova-bold.woff') format('woff'), url('fonts/proximanova-bold.ttf') format('truetype'), url('fonts/proximanova-bold.svg#ProximaNovaBold') format('svg');
}
body {
    background: #2c2a27;
    color: #c7c7c7;
    line-height: 1em;
    font-family: 'ProximaNovaRegular', Helvetica, Arial, sans-serif;
}
#wrapper {
    position: relative;
}
form {
    text-align: center;
}
label {
    color: #c7c7c7;
    line-height: 1.5em;
    margin-bottom: 10px;
    font-family: 'ProximaNovaRegular', Helvetica, Arial, sans-serif;
}
h2 {
    text-align: center;
    color: #c7c7c7;
    font-family: 'ProximaNovaBold', Helvetica, Arial, sans-serif;
    ;
    font-weight: normal;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
input[type="text"],
input[type="password"],
input[type="file"],
select {
    background: #1c1a17;
    color: #979797;
    font-family: 'ProximaNovaRegular', Helvetica, Arial, sans-serif;
    border: solid 1px #4d4c4c;
}
input[type="text"]:focus,
select:focus {
    color: #c7c7c7;
}
a {
    text-decoration: none;
    color: #7a7a7a;
}
a:hover {
    color: #494949;
}
p {
    line-height: 1.6em;
    max-width: 100%;
    margin: 0 0 1em;
}
header {
    text-align: center;
}
p img {
    width: 30em;
    max-width: 500px;
    min-width: 100px;
}
#main_nav {
    padding: 20px;
    background: #1c1a17;
}
.hide {
    display: none;
}
.file_field {
    font-size: 48px;
    position: relative;
    width: 48px;
    height: 48px;
}
.file_field .plus {
    position: absolute;
    top: -22px;
    right: -14px;
    font-size: 42px;
    color: #c8c8c8;
    pointer-events: none;
}
.file_field input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
@media only screen and (max-width: 1200px) {}@media only screen and (max-width: 900px) {}
