<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Fjord+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700|Montserrat:400,700|Josefin+Slab:300,400,700|Arvo:400,700|Droid+Sans:400,700|Oswald:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/mq.css">

    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
    <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Add your site or application content here -->

    <section id="wrapper">
        <section class="grid group" id="content">
			<div class="col span_1_of_5"></div>
			<div class="col span_1_of_5"></div>
			<div class="col span_1_of_5">
				<h1>BlkLab Login</h1>
				<form method="post" action="" id="form" class="login_form">
					<div class="row">
						<label>Username/Email</label>
						<input type="text" name="username" required="true" autofocus>
					</div>

					<div class="row">
						<label>Password</label>
						<input type="text" name="password" required="true">
					</div>

					<div class="row">
						<input type="button" blklab-click="submit" blklab-form="form" value="Login">
					</div>

					<div class="error" id="error"></div>
				</form>

		        <footer>Powered By <a href="http://blklab.cc">BlkLab</a>
			</div>
			<div class="col span_1_of_5"></div>
			<div class="col span_1_of_5"></div>
        </section>

        </footer>
    </section>

    <script src="/js/handlebars-v2.0.0.js"></script>
    <script src="/js/promise-1.0.0.min.js"></script>
    <script src="/js/blklab.js"></script>
    <script src="/js/blklab_utils.js"></script>
    <script src="/js/blklab_model.js"></script>
    <script src="/js/blklab_view.js"></script>
    <script src="/js/blklab_controller.js"></script>
    <script src="/js/blklab_router.js"></script>
    <script src="/js/blklab_app.js"></script>
    <script src="/js/login.js"></script>

    <!--
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X');ga('send','pageview');
</script> -->
</body>

</html>
