<h2><span class="fa fa-photo"></span> Edit Image Block</h2>

<div class="inner">
	<section class="left fifty">
		<div class="preview">
			<div class="thumb">
				<img src="{{preview}}" id="preview">
			</div>
		</div>
		
		<div class="tags">
			<span blklab-click="create_tag">+ Create Tag</span>
		</div>
	</section>
	
	<section class="right fifty">
		<div class="library_tools">
			<div class="left"><span class="fa fa-plus new_file" blklab-change="select_image"><input type="file" id="new_file" multiple></span></div>
			<div class="right"><span class="fa fa-th selected change_view" id="tile_view" data-view="tile_view"></span> <span class="fa fa-list change_view" id="list_view" data-view="list_view"></span></div>
			<div class="clear"></div>
		</div>
		<div id="file_library" class="tiled"></div>
	</section>
	<div class="clear"></div>	
</div>

<div class="clear"></div>

<div class="tools">
	<input type="button" class="submit" value="Change"> <input type="button" class="remove bad" value="Remove Block"> <input type="button" class="cancel" value="Done">
</div>		
	

