<section id="media" class="col span_1_of_1">
	<div class="inner">Media</div>
	<section id="files" blklab-drop="drop_image" blklab-dragenter="list_enter" blklab-dragover="list_over" blklab-dragover="list_over" blklab-dragleave="list_leave">
		<div class="toolbar">
			<span class="fa fa-plus new_file" blklab-change="select_image"><input type="file" id="new_file" multiple></span>
			<span class="toolbar" data-tooltip="Delete Selected"><span class="fa fa-trash" blklab-click="delete_selected"></span></span>
			
			<div class="right"><span class="fa fa-th selected change_view" id="tile_view" data-view="tile_view"></span> <span class="fa fa-list change_view" id="list_view" data-view="list_view"></span></div>				
			<div class="search">
				<input type="text" id="search_pages" data-type="search"><span class="fa fa-search" blklab-click="search_pages"></span>
			</div>
		</div>
		<ul id="file-list">
            {{#each data}}
            <li id="row_{{filename}}" data-url="{{original}}" blklab-click="select">
				<!--{{original}}
                <div class="tools"><span class="fa fa-times bad" blklab-click="delete_image" data-url="{{original}}"></span>
                </div>-->
				<img class="lazy images" data-src="{{uri}}/{{filename}}-thumb{{extension}}" data-tooltip="{{original}}" data-url="{{uri}}/{{filename}}-thumb{{extension}}">
            </li>
			{{/each}}
		</ul>				
	</section>
</section>
