<form method="put" action="/api/pages/:id">
	<h2><span class="fa fa-info-circle"></span> Edit Page Meta</h2>
	<div class="inner meta">
		<section class="left fifty">
			<div class="preview">
				<label for="identifier">Thumbnail:</label>
				<div class="thumb"></div>
			</div>
		</section>

		<section class="right fifty">
			<div class="row">
				<label for="nav_title">Navigation Title:</label>
				<input type="text" name="nav_title" placeholder="" id="nav_title" value="{{title}}" />
			</div>

			<div class="row">
				<label for="title">Page Title:</label>
				<input type="text" name="title" placeholder="" id="title" value="{{title}}" />
			</div>

			<div class="row">
				<label for="url">Url:</label>
				<input type="text" name="url" placeholder="ex. test-page" id="url" value="{{url}}" />
				<span class="form_hint">The unique location slug for this page.</span>
			</div>
		</section>
		<div class="clear"></div>	
	</div>

	<div class="clear"></div>

	<div class="tools">
		<input type="button" class="submit" value="Save">  <input type="button" class="cancel" value="Done">
	</div>	

	<div class="clear"></div>
</form>
