<section id="pages" class="col span_1_of_4">
    <div class="inner">
        <ul id="page-list">
            <li class="header"><span class="fa fa-plus" blklab-click="new_page"></span>
                <div class="search">
                    <input type="text" id="search_pages" data-type="search"><span class="fa fa-search" blklab-click="search_pages"></span>
                </div>
            </li>{{#each data}}
            <li id="page-{{url}}" class="page" data-url="{{url}}" data-title="{{title}}" blklab-drag="drag_page" draggable="true">{{title}}
                <div class="tools"><a href="/{{url}}" target="_blank"><span class="fa fa-pencil"></span></a><span class="fa fa-times bad" blklab-click="delete_page" data-url="{{url}}"></span>
                </div>
            </li>{{/each}}</ul>
    </div>
</section>
<section id="stack" class="col span_3_of_4">
    <div class="inner">
        <ul class="header" id="main_nav" blklab-drop="drop_page" blklab-dragenter="page_enter" blklab-dragover="page_over" blklab-dragleave="page_leave">
        </ul>
		<div id="path"></div>
		<ul id="sub_nav" blklab-drop="drop_subpage" blklab-dragenter="page_enter" blklab-dragover="page_over" blklab-dragleave="page_leave"></ul>
    </div>
</section>
