{{#each data}}
<li class="sub_link" data-url="{{url}}" blklab-drag="sort_link" blklab-drop="drop_sub_link" blklab_dragover="link_over" blklab_dragenter="link_enter" draggable="true">{{title}}
	<div class="tools"><a href="/{{url}}" target="_blank"><span class="fa fa-pencil good"></span></a> <span class="fa fa-level-down" blklab-click="show_collection" data-url="{{url}}" data-title="{{title}}"></span> <span class="fa fa-times bad" blklab-click="delete_sub_link" data-url="{{url}}"></span>
	</div>
</li>
{{/each}}
