<section id="users" class="col span_1_of_1"><div class="inner"><ul id="user-list"><li class="header"><span class="fa fa-plus" blklab-click="new_user"></span> <input type="text" class="search" blklab-typing="search_users"></li>{{#each data}}<li id="page-{{username}}">{{username}} <div class="tools"><span class="fa fa-times bad" blklab-click="delete_user" data-username="{{username}}"></span></div></li>{{/each}}</ul></div></section>
